# Print Your Pandas DataFrame

In [9]:
import pandas as pd

In [11]:
data_URL = "https://raw.githubusercontent.com/keitazoumana/Experimentation-Data/main/vgsales.csv"

vg_sales_df = pd.read_csv(data_URL)
vg_sales_df.head()
vg_sales_df.shape

(16598, 11)

In [12]:
print(vg_sales_df.head())

   Rank                      Name Platform    Year         Genre Publisher  \
0     1                Wii Sports      Wii  2006.0        Sports  Nintendo
1     2         Super Mario Bros.      NES  1985.0      Platform  Nintendo
2     3            Mario Kart Wii      Wii  2008.0        Racing  Nintendo
3     4         Wii Sports Resort      Wii  2009.0        Sports  Nintendo
4     5  Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0     41.49     29.02      3.77         8.46         82.74
1     29.08      3.58      6.81         0.77         40.24
2     15.85     12.88      3.79         3.31         35.82
3     15.75     11.01      3.28         2.96         33.00
4     11.27      8.89     10.22         1.00         31.37

In [13]:
vg_sales_df_head = vg_sales_df.head()
vg_sales_df_head

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [14]:
print(vg_sales_df_head.to_string())

   Rank                      Name Platform    Year         Genre Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0     1                Wii Sports      Wii  2006.0        Sports  Nintendo     41.49     29.02      3.77         8.46         82.74
1     2         Super Mario Bros.      NES  1985.0      Platform  Nintendo     29.08      3.58      6.81         0.77         40.24
2     3            Mario Kart Wii      Wii  2008.0        Racing  Nintendo     15.85     12.88      3.79         3.31         35.82
3     4         Wii Sports Resort      Wii  2009.0        Sports  Nintendo     15.75     11.01      3.28         2.96         33.00
4     5  Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo     11.27      8.89     10.22         1.00         31.37

In [15]:
print(vg_sales_df_head.to_markdown())

|    |   Rank | Name                     | Platform   |   Year | Genre        | Publisher   |   NA_Sales |   EU_Sales |   JP_Sales |   Other_Sales |   Global_Sales |
|---:|-------:|:-------------------------|:-----------|-------:|:-------------|:------------|-----------:|-----------:|-----------:|--------------:|---------------:|
|  0 |      1 | Wii Sports               | Wii        |   2006 | Sports       | Nintendo    |      41.49 |      29.02 |       3.77 |          8.46 |          82.74 |
|  1 |      2 | Super Mario Bros.        | NES        |   1985 | Platform     | Nintendo    |      29.08 |       3.58 |       6.81 |          0.77 |          40.24 |
|  2 |      3 | Mario Kart Wii           | Wii        |   2008 | Racing       | Nintendo    |      15.85 |      12.88 |       3.79 |          3.31 |          35.82 |
|  3 |      4 | Wii Sports Resort        | Wii        |   2009 | Sports       | Nintendo    |      15.75 |      11.01 |       3.28 |          2.96 |          33    |
|  4 |      5 | Pokemon Red/Pokemon Blue | GB         |   1996 | Role-Playing | Nintendo    |      11.27 |       8.89 |      10.22 |          1    |          31.37 |